@import url("https://p.typekit.net/p.css?s=1&k=psk2heq&ht=tk&f=25757&a=450200&app=typekit&e=css");
@font-face {
    font-family: Aileron;
    src: url("../fonts/Aileron-Black.ttf") format("truetype")
}

@font-face {
    font-family: "eurostile-extended";
    src: url("https://use.typekit.net/af/dd024a/00000000000000000001799b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/dd024a/00000000000000000001799b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/dd024a/00000000000000000001799b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-style: normal
}

@font-face {
    font-family: Aileron-Regular;
    src: url("../fonts/Aileron-Regular-webfont.ttf") format("truetype"), url("../fonts/Aileron-Regular-webfont.eot") format("eot"), url("../fonts/Aileron-Regular-webfont.woff") format("woff"), url("../fonts/Aileron-Regular-webfont.svg") format("svg")
}

@font-face {
    font-family: 'Aileron-semiBold';
    src: url("../fonts/Aileron-SemiBold.woff") format("woff"), url("../fonts/Aileron-SemiBold.ttf") format("truetype"), url("../fonts/Aileron-SemiBold.svg#Aileron-SemiBold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'aileron_semibold';
    src: url("../fonts/aileron_semibold.eot");
    src: url("../fonts/aileron_semibold.woff2") format("woff2"), url("../fonts/aileron_semibold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Aileron-Heavy';
    src: url("../fonts/Aileron-Heavy.eot");
    src: url("../fonts/Aileron-Heavy.woff2") format("woff2"), url("../fonts/Aileron-Heavy.woff") format("woff"), url("../fonts/Aileron-Heavy.ttf") format("truetype"), url("../fonts/Aileron-Heavy.svg#Aileron-Heavy") format("svg"), url("../fonts/Aileron-Heavy.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Aileron-Bold';
    src: url("../fonts/Aileron-Bold.ttf") format("truetype"), url("../fonts/Aileron-Bold-webfont.eot") format("eot"), url("../fonts/Aileron-Bold-webfont.woff") format("woff"), url("../fonts/Aileron-Bold-webfont.svg") format("svg")
}

h1 {
    font-size: 3rem
}

body {
    background: #000;
    font-family: Aileron-Regular
}

.row {
    margin-right: -10px;
    margin-left: -10px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 10px;
    padding-right: 10px
}

.top-buffer {
    margin-top: 20px
}

.top-header {
    padding: 0px;
    height: 61px;
    max-width: 365px;
    padding-left: 10px;
    background: #363636
}

.top-header p {
    color: #69D7F8;
    display: inline-block;
    padding: 15px 7px
}

.top-header a>i {
    color: #69D7F8;
    position: relative;
    top: 5px
}

.top_right_header_text {
    vertical-align: sub
}

.top-bar {
    height: 60px;
    z-index: 99999;
    float: left;
    width: 100%;
    background: #000
}

.top-bar-links {
    position: relative;
    top: .7rem
}

.btn-primary {
    background-color: #FF56A7;
    border-color: #FF56A7;
    border-radius: 0px;
    padding: 9px 31px;
    height: 100%;
    font-family: Aileron-Heavy
}

.btn-primary-black {
    background-color: #000;
    border-color: #000;
    border-radius: 0px;
    padding: 9px 31px;
    height: 100%;
    font-family: Aileron-Heavy
}

.circle {
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    font-size: 26px
}

.circle i {
    color: #FF56A7
}

.right p {
    color: #FF56A7;
    display: inline-block;
    font-size: 18px
}

.right {
    text-align: right
}

.right a {
    margin: 0 10px;
    text-decoration: none
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden
}

.padding {
    padding: 15px 25px
}

.padding i {
    color: #525252;
    padding: 5px 10px
}

a:hover>i {
    color: #5CE2FF
}

.top-header p:hover {
    color: #fff
}

.top-header a:hover>i {
    color: #fff
}

.btn-primary:hover {
    color: #fff;
    background-color: #5CE2FF;
    border-color: #5CE2FF
}

.btn-primary-black:hover {
    color: #fff;
    background-color: #5CE2FF;
    border-color: #5CE2FF
}

.right a:hover>p {
    color: #fff
}

.right a:hover>i {
    color: #fff
}

.circle:hover {
    border: solid 2px #fff
}

.gallery {
    background: #000;
    min-height: 200px
}

.gallery-cell {
    width: 100%;
    margin-right: 10px;
    background: #222;
    counter-increment: gallery-cell
}

.flickity-enabled:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 20rem);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 20rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 20rem);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000', GradientType=0)
}

.flickity-prev-next-button.previous {
    left: 60px !important
}

.flickity-prev-next-button {
    z-index: 2
}

.flickity-prev-next-button.next {
    right: 60px !important
}

.flickity-page-dots {
    bottom: 20% !important;
    z-index: 2
}

.flickity-page-dots>li.dot:hover {
    background: #5CE2FF !important;
    opacity: 1
}

.flickity-page-dots>li.dot {
    display: inline-block;
    width: 30px !important;
    height: 13px;
    margin: 0 3px !important;
    background: #fff !important;
    border-radius: 0% !important;
    opacity: 1;
    cursor: pointer
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
    background: #FF56A7 !important
}

.gallery-cell img {
    width: 100%
}

.overlay_header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    right: 0;
    padding: 0 45px;
    background: transparent;
    transition: all 0.4s ease
}

span.menu:hover {
    color: #69D7F8
}

.scroller_anchor {
    height: 0px;
    margin: 0;
    padding: 0
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important
}

.affix+.container-fluid {
    padding-top: 70px
}

.pull-right {
    float: right !important;
    text-align: right
}

.overlay_header a {
    font-size: 22px;
    color: #fff
}

.overlay_header a:hover {
    color: #5CE2FF;
    background-color: #eee0 !important;
    text-decoration: none
}

.logo>a>img {
    padding: 0px
}

.countdown {
    padding: 13px
}

.no-margin {
    margin: 0px
}

.block p {
    margin: 0px;
    color: #fff;
    font-family: Aileron-Regular
}

.block h2 {
    color: #fff
}

.block {
    min-height: 300px;
    padding: 93px;
    font-size: 18px;
    margin-top: -7%
}

.block {
    background: #0b47ff;
    background: -moz-linear-gradient(top, #0b47ff 0%, #5ee1ff 50%, #f45dae 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0b47ff), color-stop(50%, #5ee1ff), color-stop(100%, #f45dae));
    background: -webkit-linear-gradient(top, #0b47ff 0%, #5ee1ff 50%, #f45dae 100%);
    background: -o-linear-gradient(top, #0b47ff 0%, #5ee1ff 50%, #f45dae 100%);
    background: -ms-linear-gradient(top, #0b47ff 0%, #5ee1ff 50%, #f45dae 100%);
    background: linear-gradient(to bottom, #0b47ff 0%, #5ee1ff 50%, #f45dae 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0b47ff', endColorstr='#f45dae', GradientType=0)
}

.col7block {
    padding: 1rem
}

.col7block>h1 {
    color: #F35DA4;
    display: inline-block;
    font-family: "eurostile-extended", sans-serif;
    font-weight: bold
}

.col7block>h2 {
    color: #F35DA4;
    display: inline-block;
    padding: 0 5px
}

.col7block>p {
    color: #F4FBB8
}

.col4block {
    padding: 1rem;
    font-size: 18px
}

.col4block ul {
    color: #898686;
    list-style-type: none;
    margin: 0px
}

.col4block ul li>strong {
    color: #65D5E1;
    font-weight: normal
}

.col4block ul li>a:hover,
a:focus,
a:active {
    color: #65D5E1;
    text-decoration: none;
    cursor: default
}

.col2block {
    background-color: #1256FF;
    padding: 1rem
}

.col10block {
    background-color: #1256FF;
    padding: 1rem
}

@media (min-width: 992px) {
    .col7block {
        min-height: 200px;
        padding: 40px
    }
    .col4block {
        min-height: 218px;
        padding: 20px 40px
    }
    .col2block {
        min-height: 122px;
        padding: 13px
    }
    .col10block {
        min-height: 122px;
        padding: 30px
    }
}

p {
    color: #fff;
    font-size: 16px;
    font-family: Aileron-Regular;
    margin: 0px
}

p strong {
    font-family: Aileron-Bold
}

p.large {
    font-size: 18px;
    font-family: Aileron-Regular
}

.col4block ul li {
    font-size: 18px;
    font-family: Aileron-semibold
}

p.large-black {
    color: #000;
    font-size: 18px;
    font-family: Aileron-Regular;
    font-weight: 500
}

.black {
    color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff
}

h1 {
    font-family: "eurostile-extended", sans-serif;
    text-transform: uppercase
}

h2 {
    font-family: Aileron-semibold;
    text-transform: capitalize
}

h3 {
    font-family: Aileron-Heavy
}

h4 {
    font-family: Aileron-Heavy;
    text-transform: uppercase
}

@media (min-width: 1200px) {
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 40px
    }
    h3 {
        font-size: 24px
    }
    h4 {
        font-size: 17px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 24px
    }
    h4 {
        font-size: 17px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 20px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 17px
    }
}

.bookshow {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff0;
    border: 1px solid #fff;
    border-radius: 0px
}

.bookshow:hover {
    background-color: #DE70BA;
    border: 1px solid #DE70BA
}

.menu {
    font-size: 16px;
    cursor: pointer;
    padding: 0px 10px;
    color: #fff;
    font-family: Aileron-Regular
}

ul.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0
}

.btn-pad {
    padding: 5px 40px !important
}

.music_img {
    background-color: #313131;
    min-height: 200px;
    padding: 0;
    font-size: 18px;
    margin-top: 0
}

.music_radio {
    background-color: #313131;
    padding: 5px 5px;
    font-size: 18px;
    margin-top: 0
}

.posts {
    padding: 0px 10px;
}

.more_button {
    float: right;
    padding: 0px 3px
}

.more_button .flex {
    float: right
}

.more_button>div>a.bttn {
    width: 150px;
    padding: 3px 0px
}

.offer_btn {
    border: 2px solid #fff;
    padding: 15px 40px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-family: 'Aileron-Heavy';
    font-size: 18px;
    display: inline-block;
    text-align: center
}

.offer_btn:hover {
    text-decoration: none
}

.btn_dul {
    -webkit-transition: 0.5s all cubic-bezier(0.55, 0.1, 0.25, 1);
    -moz-transition: 0.5s all cubic-bezier(0.55, 0.1, 0.25, 1);
    border: 2px solid #686666;
    padding: 5px 25px;
    color: #686666
}

.btn_dul:hover {
    border: 2px solid #fff !important
}

.btn_dul.hvr-shutter-out-horizontal:hover {
    color: #222
}

.offer_btn.hvr-shutter-out-horizontal:before {
    background: #FF56A7
}

.offer_btn:hover {
    border: 2px solid #FF56A7
}

.newsblock {
    margin-top: 6%
}

.infoblock {
    margin-top: 8%
}

.card-deck {
    padding: 2% 0px;
    display: flex;
    flex-flow: row wrap
}

.card {
    background-color: #fff
}

.card:last-child {
    margin-right: 0px
}

.card:first-child {
    margin-left: 0px
}

.cat_btn {
    color: #fff;
    background-color: #8FE3F1;
    text-align: center;
    margin: 15px 70px;
    font-family: "eurostile-extended", sans-serif;
    font-size: 10px;
    letter-spacing: 0.2rem;
    text-transform: uppercase
}

.card-title {
    text-align: center;
    color: #000;
    padding: 15px 20px 40px 20px
}

.card-block-info {
    position: relative;
	background:#fff;
}

.gallery_section {
    display: flex
}

.video_bg {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    z-index: 1
}

.gallery_box {
    background-color: #313131;
    padding-bottom: 155%;
    font-size: 18px;
    margin-top: 0
}

.gallery_video {
    background-color: #313131;
    padding: 0;
    font-size: 18px;
    margin-top: 0;
    position: relative
}

.gallery_heading {
    padding: 65px 0px 300px
}

.gallery_heading h2 {
    color: #000
}

embed,
iframe,
object,
video {
    margin-bottom: 0px !important
}

.playlist_heading {
    padding: 30px
}

.video-overlay-banner {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 11rem;
    z-index: 1
}

.video-overlay-banner h3 {
    display: inline-block;
    left: 11rem;
    position: absolute;
    top: 4.1rem
}

.video-overlay-banner:hover h3 {
    color: #5ce2ff
}

.video-overlay-banner #play {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    width: 8rem
}

@media (max-width: 992px) {
    .gallery_box {
        min-height: 300px;
        padding-bottom: 0
    }
}

span.card-text p {
    color: #000;
    line-height: 25px;
    padding: 15px
}

li.inline>a>img {
    width: 100%;
    object-fit: cover;
    height: 100%
}

.subscribe {
    margin-top: 2%
}

.subscribe_exrta {
    margin-top: 8%
}

.subscription {
    padding: 50px
}

.sponsers {
    margin-top: 8%
}

.sponsers_slider {
    padding: 0px
}

.sponsers_slider h3 {
    text-align: center
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.img-responsive {
    width: 100%;
    height: auto
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left {
        left: -25%
    }
    .carousel-inner .next {
        left: 25%
    }
    .carousel-inner .prev {
        left: -25%
    }
    .offer_btn {
        padding: 15px 10px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col7block {
        min-height: 122px
    }
    .site-footer .site-img {
        padding-bottom: 30px
    }
    .col2block {
        white-space: nowrap;
        text-align: center
    }
    .col10block:after {
        content: "";
        clear: both;
        display: block
    }
    .offer_btn {
        white-space: nowrap;
        padding: 5px
    }
    .col10block .padding-bottom {
        padding-bottom: 0
    }
    .carousel-inner .active.left {
        left: -33.3%
    }
    .carousel-inner .next {
        left: 33.3%
    }
    .carousel-inner .prev {
        left: -33.3%
    }
    .active>div:first-child {
        display: block
    }
    .active>div:first-child+div {
        display: block
    }
    .active>div:last-child {
        display: none
    }
    .btn-primary {
        padding: 9px 5px
    }
    .padding {
        padding: 15px 5px
    }
    .padding i {
        padding: 5px
    }
    p.large {
        font-size: 15px
    }
    li.menu-item>a {
        padding: 0 0 0 20px
    }
    .top_menu ul li:first-child>a {
        padding-left: 0
    }
}

@media (max-width: 991px) {
    .posts_image_right {
        margin-right: auto
    }
    .cat_posts_content:after {
        content: "";
        clear: both;
        display: block
    }
    .gallery_section {
        display: block
    }
}

@media (max-width: 767px) {
    .cat_posts_content {
        padding-bottom: 30px
    }
    .cat_heading {
        padding: 30px 0 !important
    }
    .get_tickets_block .col-xs-1 .fa-5x {
        font-size: 35px
    }
    .gallery_heading {
        padding: 65px 0px 160px
    }
    .carousel-inner .active.left {
        left: -100%
    }
    .carousel-inner .next {
        left: 100%
    }
    .carousel-inner .prev {
        left: -100%
    }
    .active>div {
        display: none
    }
    .active>div:first-child {
        display: block
    }
    .padding {
        padding: 5px 0;
        background-color: #000
    }
    .right {
        padding: 5px 0
    }
    .top-header {
        max-width: 100%;
        text-align: center;
        padding: 0;
        height: auto
    }
    .right .visible-xs {
        display: inline-block !important
    }
    .right a {
        margin: 0 5px
    }
    .right i {
        color: #525252;
        padding: 5px 10px
    }
    .right .navbar {
        min-height: initial;
        margin-bottom: 0
    }
    .right .navbar .navbar-toggle {
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 0
    }
    .right .navbar .navbar-toggle:hover,
    .right .navbar .navbar-toggle:focus {
        background: transparent
    }
    .right .navbar .navbar-toggle .icon-bar {
        background: #525252
    }
    .logo {
        top: 20px
    }
    .sticky_header .logo.text-center {
        top: 0
    }
    .logo>a>img {
        max-width: 250px
    }
    p.large {
        font-size: 15px
    }
    .col7block {
        margin-top: 0px
    }
}

.site-footer {
    padding: 10px 15px 5px;
    background-color: #000;
    min-height: 70px;
    margin: 0px
}

.site-footer .site-title:after {
    content: "";
    display: inline-block;
    font-family: Montserrat, sans-serif;
    opacity: 0.7;
    padding: 0 0.307692308em 0 0.538461538em
}

.site-info {
    padding: 15px
}

.site-info>span.site-title {
    font-size: 15px
}

.site-img>a>span.footer_right_text {
    font-family: "eurostile-extended", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    float: right;
    color: #fff;
    line-height: 4
}

.slider {
    width: 90%;
    margin: 30px auto
}

.slick-slide {
    margin: 0px 20px
}

.slick-slide img {
    width: 100%
}

.slick-prev:before,
.slick-next:before {
    color: black
}

.footer {
    background-color: #313131;
    padding: 50px 0px
}

.page_links {
    padding: 20px 0px
}

.page_links>ul>li>a {
    color: #a7a4a4;
    font-size: 16px
}

.page_links>ul {
    list-style: none;
    margin: 0px
}

.page_links>ul>li>a:hover {
    color: #fff;
    text-decoration: none
}

.widget-title {
    color: #69D7F8
}

.page_title h1 {
    font-size: 45px;
    font-weight: bold;
    margin: -75px 76px
}

.lineup_content p {
    color: #fff
}

.lineup_content {
    padding: 50px
}

.share-btn {
    padding: 60px 0px 0px
}

.share-btn a {
    margin: 0px 20px 0px;
}

.share-btn>div.bubble {
    margin: 15px
}

.faq_content {
    background-color: #fff;
    margin-top: -90px
}

.faq_heading {
    padding: 5% 20%
}

.faq_heading h2 {
    color: #000
}

.faq_heading h3 {
    color: #F956A9;
    line-height: 2;
    text-transform: none
}

.nav-pills>li.active>span,
.nav-pills>li.active>span:focus,
.nav-pills>li.active>span:hover {
    color: #000;
    background-color: #F956A9
}

.nav-pills>li>span {
    border-radius: 0px;
    color: #000;
    background-color: #5CE2FF
}

.nav>li>span {
    position: relative;
    display: block;
    padding: 15px 30px;
    font-size: 18px;
    font-family: Aileron-SemiBold;
    cursor: pointer
}

.nav-stacked>li+li {
    margin-top: 5px
}

.nav>li>span:focus,
.nav>li>span:hover {
    text-decoration: none;
    background-color: #f956a9
}

.panel-body p {
    color: #6b6464
}

.Accordions {
    min-height: 500px;
    width: 73%
}

.events-tabs {
    margin-left: -15%
}

.icons {
    display: inline-block
}

.icons a {
    color: #9d9d9e
}

.panel-title {
    width: 60%;
    display: inline-block;
    font-size: 17px;
    text-transform: none
}

.panel-title a {
    text-decoration: none
}

.no-padding {
    padding: 0px
}

.padding40 {
    padding: 25px
}

.top_padding40 {
    padding: 47px 0px
}

.top_padding40>span>a>i {
    color: #222
}

.top_padding40 span i {
    color: rgba(0, 0, 0, 0.3);
    font-size: 4rem;
    margin-right: .5rem
}

.content a {
    border-bottom: 3px solid #69D7F8;
    color: inherit
}

.content a:hover {
    border-bottom: 0px solid #69D7F8;
    background-color: #69D7F8;
    text-decoration: none
}

.info_content {
    background-color: #fff;
    margin-top: -90px
}

.info_heading {
    padding: 8%
}

.info_heading h2 {
    color: #000;
    padding: 0px 0px 10px
}

.info_heading h4 {
    color: #F956A9;
    text-transform: none;
    padding-top: 25px
}

.info_heading p {
    color: #000;
    padding-top: 25px;
    line-height: 20px
}

.cat_content {
    margin-top: -55px;
    display: block
}

.cat_heading {
    padding: 3rem 2rem
}

.cat_heading h2 {
    color: #000;
    display: inline-block;
    margin-bottom: 1rem
}

.cat_heading h3 {
    text-align: right;
    font-family: Aileron;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 2.8px;
    float: right;
    position: relative;
    top: 1.2rem;
    display: inline-block;
    color: #020303;
    border-bottom: solid 2px #020303
}

.cat_heading h4 {
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    float: right
}

@media (max-width: 992px) {
    .cat_content {
        margin: 0;
        margin-left: -5px;
        margin-right: -5px
    }
    .cat_heading {
        text-align: center
    }
    .cat_heading h3 {
        float: none;
        top: 0
    }
    .nxt.top-buffer {
        margin: 2rem 1rem
    }
    .cat_posts.top-buffer {
        margin-top: 0
    }
    .cat_posts.row {
        margin-left: -15px;
        margin-right: -15px
    }
}

.card a {
    text-decoration: none
}

.card-block-news {
    position: relative;
	background:#fff;
}

.card-block-news::before {
    -webkit-clip-path: polygon(0 2vw, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 2vw, 100% 0, 100% 100%, 0 100%);
    content: "";
    display: block;
    width: calc(100% + 1px);
    position: absolute;
    top: -59px;
    height: 60px;
    background: #fff;
    left: -1px;
    right: 0;
}

.card {
    overflow: hidden;
	/* background:transparent; */
}

.cat_sub_heading h4 {
    color: #fff;
    display: inline-block
}

.cat_sub_heading {
    padding: 40px
}

.cat_sub_content {
    display: block
}

.cat_posts_content {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width: 992px) {
    .posts_cont {
        padding: 3rem 2rem
    }
}

.posts_cont h2 {
    color: #000;
    margin-bottom: 3rem
}

.posts_cont p {
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.5
}

.info-image {
    background-size: cover;
    height: 75%;
    max-height: 1200px;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px
}

.info-image img {
    margin-top: 1rem
}

@media (min-width: 992px) {
    .posts_image_right {
        margin-right: -35.4%;
        margin-bottom: 2rem;
        margin-top: 2rem
    }
    .posts_image img {
        border-right: .7rem solid #5CE2FF
    }
    .posts_image {
        margin-left: -32.4%;
        margin-bottom: 2rem;
        margin-top: 2rem
    }
    .posts_image_right img {
        border-left: .7rem solid #5CE2FF
    }
}

.card-img-top {
    width: 100%
}

.contact_content {
    background-color: #fff;
    margin-top: -90px
}

.contact_heading {
    padding: 40px 65px 65px
}

.contact_heading h1 {
    color: #000;
    font-size: 30px
}

.contact_heading p {
    color: #000;
    padding-top: 25px;
    font-size: 16px;
    line-height: 1.5
}

.contact_details h3 {
    color: #000
}

.contact_details p {
    color: #000
}

.contact_details {
    padding: 0px 35px 20px;
    border: 1px solid #c9c6c6;
    margin: 40px 0 -21px;
    background-color: #e8e8e8
}

#null-instagram-feed-3 h2 {
    display: none
}

#null-instagram-feed-3 {
    margin: 0 -5px
}

.darken-overlay {
    background-color: rgba(0, 0, 0, 0.5)
}

.widget {
    border-top: 0px solid #1a1a1a
}

.insta_links i {
    color: #FF56A7;
    padding: 1rem;
    font-size: 4.5rem;
    display: inline-block;
    vertical-align: middle
}

.instagram-container .cell {
    border: 4px #000000 solid;
    position: relative;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    -webkit-transition: all, 0.1s;
    transition: all, 0.1s;
    background: #000000;
    top: 0;
}

div.cell:first-child {
    border: 0;
}

div.cell:last-child {
    border: 0;
}

.instagram-container .cell:hover {
    border: 10px #000000 solid;
    top: -.3rem;
}

.insta_links>a {
    padding: 1rem;
    display: inline-block;
    vertical-align: middle
}

.insta_links>a>button.btn {
    line-height: 1.42857143;
    font-size: 13px;
    vertical-align: top;
    padding: 9px 31px;
    font-family: Aileron-Heavy
}

.active a {
    color: #FF56A7
}

a.current_tab {
    color: #FF56A7
}

.min-height700 {
    min-height: 700px
}

.min-height400 {
    min-height: 400px
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
}

@media (min-width: 1500px) {
    .container {
        width: 100%;
        max-width: 1400px
    }
    .logo>a>img {
        max-width: 448px
    }
}

@media (max-width: 1499px) {
    .logo>a>img {
        max-width: 417px
    }
}

.like-table {
    display: table;
    width: 100%
}

.like-table>div {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0
}

.sticky_header {
    background: #363636;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease;
    transition: background-color 0.4s ease 400ms;
    padding: 0.5rem
}

.sticky_header>.countdown>p {
    display: none
}

.sticky_header .logo img {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    max-width: 118px;
    margin: 4px auto
}

@keyframes wave {
    0% {
        margin-left: -1600px
    }
    100% {
        margin-left: 0
    }
}

.hvr-shutter-out-horizontal:before {
    transition: 0.5s all cubic-bezier(0.55, 0.1, 0.25, 1);
    -webkit-transition: 0.5s all cubic-bezier(0.55, 0.1, 0.25, 1);
    -moz-transition: 0.5s all cubic-bezier(0.55, 0.1, 0.25, 1)
}

.instagram-pics {
    padding: 0;
    margin: 10px 0px
}

.widget-area>:last-child,
.widget>:last-child {
    margin-bottom: 0;
    padding: 0
}

.panel-title a:hover {
    background: transparent
}

.panel-title a {
    border-bottom: 0px solid #fff
}

.panel-heading span>a:hover {
    background: transparent
}

.panel-heading span>a {
    border-bottom: 0px solid #fff
}

.get_tickets_block .bg_image {
    background-position: center center;
    background-size: cover
}

.cat_heading {
    width: 100%
}

.faq_content:after {
    content: "";
    display: block;
    clear: both
}

.post-preview .image {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    background-size: cover;
    background-position: center
}

.post-preview.post-artist .preview-text {
    height: 5rem;
    background-color: #fff;
    color: #000
}

.post-preview .preview-text {
    display: table;
    width: 101%;
    -moz-transition: all, .3s;
    -o-transition: all, .3s;
    -webkit-transition: all, .3s;
    transition: all, .3s;
    position: relative;
    z-index: 12;
    top: 0
}

.post-preview .preview-text .inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%
}

.post-preview .preview-text h3 {
    margin-bottom: 0;
    color: #000
}

.post-preview:hover.post-artist .preview-text {
    background: #FF51A6;
    margin-top: -5rem;
    height: 10rem
}

.news-posts {
    padding: 20px 0 0
}

.gallery_card a div:first-child {
    padding-right: 0
}

.card-block-galleries {
    min-height: 450px;
	background-color: #fff;
}

.card-block-galleries h3 {
    color: #000;
    padding: 25px
}

.card-block-galleries span {
    color: #E687B8;
    padding: 15px
}

.card-block-galleries-single-img {
    background-size: cover;
    background-position: center center;
    min-height: 310px;
    height: 100%;
    margin: 10px 0 0
}

.card-block-galleries-3-img {
    background-size: cover;
    background-position: center center;
    min-height: 150px;
    height: 50%;
    margin: 10px 0 0
}

#photos {
    line-height: 2;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px
}

#photos img {
    width: 100%!important;
    height: auto!important;
    vertical-align: baseline;
	border:3px solid transparent;
}
#photos img:hover {
	border:3px solid #FF51A6; 
}
@media (max-width:1200px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3
    }
}

@media (max-width:1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3
    }
}

@media (max-width:800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2
    }
}

@media (max-width:400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1
    }
}

.gallery_content {
    background-color: #fff;
    margin-top: -90px
}

.gallery_heading {
    padding: 100px
}

.gallery_heading span.card-text {
    color: #E687B8;
    font-weight: 700
}

.gallery_heading h2 {
    color: #000;
    margin-bottom: 15px
}

.gallery_heading p.card-text {
    color: #000;
    margin-top: 15px;
    line-height: 2
}

.gallery_heading div.share-btn {
    padding: 30px 0 0
}

.post-radio {
    position: relative;
    display: block;
    padding: 1rem;
    top: 0;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    -webkit-transition: .3s all;
    transition: .3s all;
    cursor: pointer;
    color: #000
}

.post-radio i.play-icon {
   position: absolute;
    left: 50%;
    background-color: #fff;
    margin-left: -4.7rem;
    text-align: center;
    bottom: -4rem;
    color: #D7D7D7;
    font-size: 3rem;
    border-radius: 50%;
    padding: 2.5rem;  
    display: block;
    line-height: 2rem;
    border: 8px solid #D7D7D7;
    z-index: 10;
    transition: .2s all cubic-bezier(.42, 0, 0, 1.01);
    -webkit-transition: .2s all cubic-bezier(.42, 0, 0, 1.01); 
}

.post-preview.post-radio .preview-text {
    height: 10rem;
    padding-top: 3rem
}

.post-radio .image {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 5px solid #fff
}

.post-radio .preview-text {
    height: 10rem;
    background-color: #fff;
    color: #000;
    padding-top: 4rem;
    margin-bottom: 3rem
}

.post-radio .preview-text .inner {
    display: block;
    vertical-align: middle;
    height: 100%;
    width: 100%
}

.post-radio .preview-text h3,
h5 {
    margin-bottom: 0;
    color: #000
}

.post-radio:hover i.play-icon {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #FF40FC;
    border: 8px solid #FF40FC
}

.music-player {
    position: fixed;
    width: 100%;
    height: 9rem;
    top: -5rem;
    left: 0;
    z-index: 99999;
    transition: .5s all cubic-bezier(.42, 0, 0, 1.01);
    -webkit-transition: .5s all cubic-bezier(.42, 0, 0, 1.01)
}

.music-player.player-active {
    top: 0
}

.music-player.player-active .close {
    display: block
}

.music-player .close {
    display: none;
    background: #fff;
    cursor: pointer;
    position: absolute;
    padding: .5rem;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
    bottom: -1.5rem;
    left: 50%;
    margin-left: -.75rem;
    -moz-transition: .2s all;
    -o-transition: .2s all;
    -webkit-transition: .2s all;
    transition: .2s all
}

.music-player .close img {
    position: relative;
    top: -.2rem
}

.music-player iframe {
    width: 100%;
    height: 10rem
}

body.player-active header {
    top: 5rem
}

.load_more {
    display: none
}

#loadMore {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out
}
.page-title-side{
	position: absolute;
    bottom: 40px;
    left: 140px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.site-img>a>span.footer_right_text{
		float:none;
	}
	.cat_heading h2{
		display:block;
	}
	.cat_btn{
		margin:15px 40px;
	}
	.cat_heading h3{
		display:block;
		float:none;
		text-align:center;
	}
	.card-block-news::before{
		-webkit-clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
	}
}
@media screen and (min-width: 300px) and (max-width: 766px) {
	.contact_heading{
		padding:0;
	}
	.share-btn a {
		margin: 0 5px 0px;
	}
	.btn-primary-black{
		padding:5px 10px;
	}
	.gallery_heading {
		padding: 35px 25px;
	}
	.cat_heading h2{
		display:block;
	}
	.site-img>a>span.footer_right_text{
		float:none;
	}
	.page-title-side{
		left:0;
		right:0;
	}
	.nxt.top-buffer {
		margin: 2rem 0rem; 
	} 
}